h1{
    text-align: center;
    color: teal;
}

#table{
    background-color:lightgreen;
    margin-left: 30%;
    margin-right: 30%;
    border: blueviolet;
}
* {
    font-family: Arial;
}

.title h1{
    color:salmon;
    font-style: italic;
}
p{
    text-align: center;
    color: cornflowerblue;
}