h1{
    text-align: center;
    color: teal;
}

body{
    background-color:lightblue;
}

#table{
    background-color:lightgreen;
    margin-left: 30%;
    margin-right: 30%;
    border: blueviolet;
}

* {
    font-family: Arial;
} /*Universal selector*/

.title h1{
    color:salmon;
    font-style: italic;
    background-color: darkslateblue;
} /*Child selector*/

div p{
    text-align: center;
    color:crimson;
} /*Decendant selector*/

p{
    text-align: center;
}

div ~ h2{
    color: darkmagenta;
    text-align: center;
} /*Sibling selector*/

div + h2{
    color: darkorange;
    text-align: center;
} /*Sibling selector*/